apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.app.name }}
  labels:
    app: {{ .Values.app.name }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
  {{- if .Values.monitoring.enabled }}
  annotations:
    prometheus.io/scrape: {{ .Values.monitoring.prometheus.scrape | quote }}
    prometheus.io/port: {{ .Values.monitoring.prometheus.port | quote }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: {{ .Values.app.name }}
