apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: app-of-apps
  namespace: argocd
spec:
  generators:
    - list:
        elements:
          - environment: dev
          - environment: staging
          - environment: prod
  template:
    metadata:
      name: "{{environment}}-apps"
    spec:
      project: default
      source:
        repoURL: https://github.com/alexpermiakov/idp
        targetRevision: main
        path: "argocd/applications/{{environment}}"
      destination:
        server: https://kubernetes.default.svc
        namespace: argocd
      syncPolicy:
        automated:
          prune: true
          selfHeal: true

